# From https://github.com/github/gitignore
#  - Node.gitignore

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm
.DS_Store

# dotenv environment variables file
.env
.env.test
.env.production

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode